@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "~/Views/Partials/shared/Layout.cshtml";
}
<section class="blockList">
	@Html.GetBlockListHtml(Model.Content)
</section>