@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.RichTextBle>
@{
    //*** No backend logic / C# code allowed here! add to the ViewComponent instead ***
    //Replace the "aliasBLE" class below with a short unique alias of your block editor. 
    // Use .aliasBLE in CSS to style your block editor
    
    // Avoid inheriting from UmbracoViewPage, as you should be able to do your logic in the ViewComponent.
    // @inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Marathon.Core.BlockListEditors.Models.RichTextEditorModel>; 
}

<div class="rteBLE blockList">
    <div class="container">
        @Html.Raw(Model.Content)
    </div>
</div>