@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.RichTextBle>
@{
    //*** No backend logic / C# code allowed here! add to the ViewComponent instead ***
}

<div class="rteBLE blockList">
    <div class="container">
        @Html.Raw(Model.Content)
    </div>
</div>