@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE HTML>
<html lang="@Umbraco.CultureDictionary.Culture">
    <head>
        <link rel="stylesheet" href="/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="/dist/css/site.css" asp-append-version="true" />
        <title>MVC Blocklists</title>
    </head>
    <body>
       
        <div class="pageContent">
            <div class="container">
                @RenderBody()
            </div>
        </div>
            
    </body>
</html>